.header {
  display: flex;
  justify-content: center;
  position: relative;
}
.title {
  text-align: center;
}
.add {
  position: absolute;
  right: 0;
}

[nz-form] {
  max-width: 600px;
  margin-top: 20px;
}

.phone-select {
  width: 70px;
}

.register-are {
  margin-bottom: 8px;
}

.search-box {
  padding: 8px;
}

.search-box input {
  width: 188px;
  margin-bottom: 8px;
  display: block;
}

.search-box button {
  width: 90px;
}

.search-button {
  margin-right: 8px;
}
