<div class="header">
  <h1 class="title">Clientes</h1>
  <button (click)="showModalClient()" nz-button nzType="default" class="add">
    <i nz-icon nzType="plus-circle" nzTheme="outline"></i>Adicionar
  </button>
  <app-adicionar-cliente
    [isVisibleModalClient]="isVisibleModalClient"
    (onClose)="closeModalClient()"
    (onUpdateClients)="listClients()"
  >
  </app-adicionar-cliente>
</div>
<div>
  <app-listar-clientes
    [clientes]="clientes"
    [clientesAux]="clientesAux"
    [filterVisible]="filterVisible"
    [searchValue]="searchValue"
    [search]="search"
    [reset]="reset"
  >
  </app-listar-clientes>
</div>
