<div class="header">
  <h1 class="title">Clientes</h1>
  <button (click)="showModalClient()" nz-button nzType="default" class="add">
    <i nz-icon nzType="plus-circle" nzTheme="outline"></i>Adicionar
  </button>
  <nz-modal
    [(nzVisible)]="isVisibleModalClient"
    nzTitle="Adicionar Cliente"
    (nzOnCancel)="closeModalClient()"
    (nzOnOk)="addClient(validateForm.valid)">
    <ng-container *nzModalContent>
      <nz-alert nzType="error" nzCloseable nzMessage="CNPJ não é válido" *ngIf="showAlert"></nz-alert>
      <form class="form" nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="razaoSocial">Razão Social</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Razão Social Obrigatório!">
            <input nz-input formControlName="razaoSocial" id="razaoSocial" [(ngModel)]="dadosModal.companyName"/>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="cnpj">CNPJ</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="CNPJ não é válido">
            <input nz-input formControlName="cnpj" id="cnpj"
            placeholder="Ex.: 00.000.000/0000-00" mask="00.000.000/0000-00"
            [(ngModel)]="dadosModal.cnpj"
            />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="nome">Nome Fantasia</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <input nz-input formControlName="nome" id="nome" [(ngModel)]="dadosModal.fantasyName"/>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="representante">Representante</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Representante Legal Obrigatório!">
            <input nz-input formControlName="representante" id="representante" [(ngModel)]="dadosModal.legalRepresentative"/>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email">Email</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Email não é válido">
            <input nz-input formControlName="email" id="email" placeholder="Ex.: example@gmail.com"
            [(ngModel)]="dadosModal.email"/>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="telefone">Telefone</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Telefone obrigatório">
            <input nz-input formControlName="telefone" id="telefone" placeholder="Ex.: (00) 00000-0000"
            mask="(00) 00000-0000" [(ngModel)]="dadosModal.phoneNumber"/>
          </nz-form-control>
        </nz-form-item>
      </form>
    </ng-container>
  </nz-modal>
</div>

<div>
  <nz-table #basicTable [nzData]="clientes">
    <thead>
      <tr>
        <th nzCustomFilter>
          Clientes
          <nz-filter-trigger [(nzVisible)]="filterVisible" [nzActive]="searchValue.length > 0" [nzDropdownMenu]="menu">
            <i nz-icon nzType="search"></i>
          </nz-filter-trigger>
        </th>
        <th>Nome Fantasia</th>
        <th>Representante Legal</th>
        <th>Email</th>
        <th>Data de Cadastro</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{ data.cliente }}</td>
        <td>{{ data.fantasyName }}</td>
        <td>{{ data.legalRepresentative }}</td>
        <td>{{ data.email }}</td>
        <td>{{ data.createdProduct }}</td>
      </tr>
    </tbody>
  </nz-table>
  <nz-dropdown-menu #menu="nzDropdownMenu">
    <div class="ant-table-filter-dropdown">
      <div class="search-box">
        <input type="text" nz-input placeholder="Search name" [(ngModel)]="searchValue" />
        <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">
          Filtrar
        </button>
        <button nz-button nzSize="small" (click)="reset()">Limpar</button>
      </div>
    </div>
  </nz-dropdown-menu>
</div>
